#red {
  background-color: #f00; /* Red */
  border-top-color: #f00; /* Red border-top with 2px width */
  height: 50px; /* Adjust the height as needed */
}

#orange {
  background-color: #ffa500; /* Orange */
  border-top-color: #ffa500; /* Orange border-top with 2px width */
  height: 50px; /* Adjust the height as needed */
}

#yellow {
  background-color: #ff0; /* Yellow */
  border-top-color: #ff0; /* Yellow border-top with 2px width */
  height: 50px; /* Adjust the height as needed */
}

#green {
  background-color: #00bc3f; /* Green */
  border-top-color: #00bc3f; /* Green border-top with 2px width */
  height: 50px; /* Adjust the height as needed */
}

#blue {
  background-color: #06f; /* Blue */
  border-top-color: #06f; /* Blue border-top with 2px width */
  height: 50px; /* Adjust the height as needed */
}

#indigo {
  background-color: #8a2be2; /* Indigo */
  border-top-color: #8a2be2; /* Indigo border-top with 2px width */
  height: 50px; /* Adjust the height as needed */
}

#violet {
  background-color: #d300c9; /* Violet */
  border-top-color: #d300c9; /* Violet border-top with 2px width */
  height: 50px; /* Adjust the height as needed */
}